In [14]:
import pandas as pd
dataset = pd.read_csv('winequality-white.csv')
dataset.head()

     7  0.27  0.36  20.7  0.045    45    170   1.001     3  0.45   8.8  6
0  6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.9940  3.30  0.49   9.5  6
1  8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.9951  3.26  0.44  10.1  6
2  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9  6
3  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9  6
4  8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.9951  3.26  0.44  10.1  6

In [ ]:
array = dataset.values
X = array[:,0:12]
Y = array[:,11]

In [3]:
# Example of normalizing the diabetes dataset
from csv import reader

# Load a CSV file
def load_csv(filename):
    dataset = list()
    with open(filename, 'r') as file:
        csv_reader = reader(file)
        for row in csv_reader:
            if not row:
                continue
            dataset.append(row)
    return dataset

# Convert string column to float
def str_column_to_float(dataset, column):
    for row in dataset:
        row[column] = float(row[column].strip())

# Find the min and max values for each column
def dataset_minmax(dataset):
    minmax = list()
    for i in range(len(dataset[0])):
        col_values = [row[i] for row in dataset]
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
    for row in dataset:
        for i in range(len(row)):
            row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

            # Xi = (Xi - Xmin)/(Xmax-Xmin)
# Load pima-indians-diabetes dataset
filename = 'winequality-white.csv'
dataset = load_csv(filename)
print('Loaded data file {0} with {1} rows and {2} columns'.format(filename, len(dataset), len(dataset[0])))
# convert string columns to float
for i in range(len(dataset[0])):
    str_column_to_float(dataset, i)
print(dataset[0])
# Calculate min and max for each column
minmax = dataset_minmax(dataset)
# Normalize columns
normalize_dataset(dataset, minmax)
print(dataset[:6])

Loaded data file winequality-white.csv with 4898 rows and 12 columns
[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8, 6.0]
[[0.30769230769230776, 0.18627450980392157, 0.21686746987951808, 0.308282208588957, 0.10682492581602374, 0.14982578397212543, 0.37354988399071926, 0.26778484673221237, 0.25454545454545446, 0.26744186046511625, 0.12903225806451626, 0.5], [0.24038461538461542, 0.2156862745098039, 0.20481927710843376, 0.015337423312883436, 0.11869436201780417, 0.041811846689895474, 0.2853828306264501, 0.13283208020050039, 0.5272727272727271, 0.313953488372093, 0.24193548387096778, 0.5], [0.4134615384615385, 0.19607843137254902, 0.24096385542168677, 0.09662576687116566, 0.12166172106824928, 0.0975609756097561, 0.20417633410672853, 0.15403894351262667, 0.4909090909090907, 0.25581395348837205, 0.3387096774193548, 0.5], [0.326923076923077, 0.1470588235294118, 0.1927710843373494, 0.12116564417177914, 0.1454005934718101, 0.156794425087108, 0.41067285382830626, 0.1636784268363216, 0.4272727272727272, 0.20930232558139536, 0.3064516129032259, 0.5], [0.326923076923077, 0.1470588235294118, 0.1927710843373494, 0.12116564417177914, 0.1454005934718101, 0.156794425087108, 0.41067285382830626, 0.1636784268363216, 0.4272727272727272, 0.20930232558139536, 0.3064516129032259, 0.5], [0.4134615384615385, 0.19607843137254902, 0.24096385542168677, 0.09662576687116566, 0.12166172106824928, 0.0975609756097561, 0.20417633410672853, 0.15403894351262667, 0.4909090909090907, 0.25581395348837205, 0.3387096774193548, 0.5]]

In [8]:
import pandas as pd
dataset2 = pd.read_csv('winequality-white.csv')
dataset2.head()

     7  0.27  0.36  20.7  0.045    45    170   1.001     3  0.45   8.8  6
0  6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.9940  3.30  0.49   9.5  6
1  8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.9951  3.26  0.44  10.1  6
2  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9  6
3  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9  6
4  8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.9951  3.26  0.44  10.1  6

In [10]:
array = dataset2.values
X = array[:,0:12]
Y = array[:,11]

In [12]:
X

array([[ 6.3 ,  0.3 ,  0.34, ...,  0.49,  9.5 ,  6.  ],
       [ 8.1 ,  0.28,  0.4 , ...,  0.44, 10.1 ,  6.  ],
       [ 7.2 ,  0.23,  0.32, ...,  0.4 ,  9.9 ,  6.  ],
       ...,
       [ 6.5 ,  0.24,  0.19, ...,  0.46,  9.4 ,  6.  ],
       [ 5.5 ,  0.29,  0.3 , ...,  0.38, 12.8 ,  7.  ],
       [ 6.  ,  0.21,  0.38, ...,  0.32, 11.8 ,  6.  ]])

In [13]:
Y

array([6., 6., 6., ..., 6., 7., 6.])

In [ ]:
Xi = (Xi - Xmin)/(Xmax-Xmin)