In [4]:
import pandas as pd
df_ = pd.read_csv('pima-indians-diabetes.csv')
df_.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [1]:
# Example of normalizing the diabetes dataset
from csv import reader

# Load a CSV file
def load_csv(filename):
    dataset = list()
    with open(filename, 'r') as file:
        csv_reader = reader(file)
        for row in csv_reader:
            if not row:
                continue
            dataset.append(row)
    return dataset

# Convert string column to float
def str_column_to_float(dataset, column):
    for row in dataset:
        row[column] = float(row[column].strip())

# Find the min and max values for each column
def dataset_minmax(dataset):
    minmax = list()
    for i in range(len(dataset[0])):
        col_values = [row[i] for row in dataset]
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
    for row in dataset:
        for i in range(len(row)):
            row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

# Load pima-indians-diabetes dataset
filename = 'pima-indians-diabetes.csv'
dataset = load_csv(filename)
print('Loaded data file {0} with {1} rows and {2} columns'.format(filename, len(dataset), len(dataset[0])))
# convert string columns to float
for i in range(len(dataset[0])):
    str_column_to_float(dataset, i)
print(dataset[0])
# Calculate min and max for each column
minmax = dataset_minmax(dataset)
# Normalize columns
normalize_dataset(dataset, minmax)
print(dataset[0])

Loaded data file pima-indians-diabetes.csv with 768 rows and 9 columns
[6.0, 148.0, 72.0, 35.0, 0.0, 33.6, 0.627, 50.0, 1.0]
[0.35294117647058826, 0.7437185929648241, 0.5901639344262295, 0.35353535353535354, 0.0, 0.5007451564828614, 0.23441502988898377, 0.48333333333333334, 1.0]

In [3]:
import pandas as pd
df = pd.read_csv('Absenteeism_at_work.csv')
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,97,0,1,30,4
1,36,0,7,3,1,118,13,18,50,239.554,97,1,1,31,0
2,3,23,7,4,1,179,51,18,38,239.554,97,0,1,31,2
3,7,7,7,5,1,279,5,14,39,239.554,97,0,1,24,4
4,11,23,7,5,1,289,36,13,33,239.554,97,0,1,30,2

In [2]:
# Example of normalizing the diabetes dataset
from csv import reader

# Load a CSV file
def load_csv(filename):
    dataset = list()
    with open(filename, 'r') as file:
        csv_reader = reader(file)
        for row in csv_reader:
            if not row:
                continue
            dataset.append(row)
    return dataset

# Convert string column to float
def str_column_to_float(dataset, column):
    for row in dataset:
        row[column] = float(row[column].strip())

# Find the min and max values for each column
def dataset_minmax(dataset):
    minmax = list()
    for i in range(len(dataset[0])):
        col_values = [row[i] for row in dataset]
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
    for row in dataset:
        for i in range(len(row)):
            row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

# Load pima-indians-diabetes dataset
filename = 'Absenteeism_at_work.csv'
dataset = load_csv(filename)
print('Loaded data file {0} with {1} rows and {2} columns'.format(filename, len(dataset), len(dataset[0])))
# convert string columns to float
for i in range(len(dataset[0])):
    str_column_to_float(dataset, i)
print(dataset[0])
# Calculate min and max for each column
minmax = dataset_minmax(dataset)
# Normalize columns
normalize_dataset(dataset, minmax)
print(dataset[0])

Loaded data file Absenteeism_at_work.csv with 741 rows and 15 columns

ValueError: could not convert string to float: 'ID'

In [3]:
import pandas as pd
dataframe = pd.read_csv('Absenteeism_at_work.csv')
dataframe.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,97,0,1,30,4
1,36,0,7,3,1,118,13,18,50,239.554,97,1,1,31,0
2,3,23,7,4,1,179,51,18,38,239.554,97,0,1,31,2
3,7,7,7,5,1,279,5,14,39,239.554,97,0,1,24,4
4,11,23,7,5,1,289,36,13,33,239.554,97,0,1,30,2

In [8]:
# Normalize data (length of 1)
from sklearn.preprocessing import Normalizer
from pandas import read_csv
from numpy import set_printoptions

array = dataframe.values
# separate array into input and output components
X = array[:,0:15]
Y = array[:,14]
scaler = Normalizer().fit(X)
normalizedX = scaler.transform(X)
# summarize transformed data
set_printoptions(precision=3)
print(normalizedX[0:5,:])

[[0.028 0.066 0.018 0.008 0.003 0.735 0.092 0.033 0.084 0.609 0.247 0.
  0.003 0.076 0.01 ]
 [0.123 0.    0.024 0.01  0.003 0.402 0.044 0.061 0.17  0.817 0.331 0.003
  0.003 0.106 0.   ]
 [0.009 0.071 0.022 0.012 0.003 0.553 0.158 0.056 0.117 0.74  0.3   0.
  0.003 0.096 0.006]
 [0.018 0.018 0.018 0.013 0.003 0.727 0.013 0.036 0.102 0.624 0.253 0.
  0.003 0.063 0.01 ]
 [0.028 0.059 0.018 0.013 0.003 0.735 0.092 0.033 0.084 0.609 0.247 0.
  0.003 0.076 0.005]]

In [5]:
X

array([[11., 26.,  7., ...,  1., 30.,  4.],
       [36.,  0.,  7., ...,  1., 31.,  0.],
       [ 3., 23.,  7., ...,  1., 31.,  2.],
       ...,
       [ 4.,  0.,  0., ...,  1., 34.,  0.],
       [ 8.,  0.,  0., ...,  1., 35.,  0.],
       [35.,  0.,  0., ...,  1., 25.,  0.]])

In [6]:
Y

array([  4.,   0.,   2.,   4.,   2.,   2.,   8.,   4.,  40.,   8.,   8.,
         8.,   8.,   1.,   4.,   8.,   2.,   8.,   8.,   2.,   8.,   1.,
        40.,   4.,   8.,   7.,   1.,   4.,   8.,   2.,   8.,   8.,   4.,
         8.,   2.,   1.,   8.,   4.,   8.,   4.,   2.,   4.,   4.,   8.,
         2.,   3.,   3.,   4.,   8.,  32.,   0.,   0.,   2.,   2.,   0.,
         0.,   3.,   3.,   0.,   1.,   3.,   4.,   3.,   3.,   0.,   1.,
         3.,   3.,   3.,   2.,   2.,   5.,   8.,   3.,  16.,   8.,   2.,
         8.,   1.,   3.,   1.,   1.,   8.,   8.,   5.,  32.,   8.,  40.,
         1.,   8.,   3.,   8.,   3.,   4.,   1.,   3.,  24.,   3.,   1.,
        64.,   2.,   8.,   2.,   8.,  56.,   8.,   3.,   3.,   2.,   8.,
         2.,   8.,   2.,   1.,   1.,   1.,   8.,   2.,   2.,   2.,   1.,
         2.,   2.,   2.,   2.,   2.,   2.,   2.,   2.,   8.,   8.,   2.,
         2.,   2.,   0.,   1.,   3.,   1.,   8.,   8.,   2.,   8.,   2.,
         8.,   8.,   8.,   2.,   2.,   1.,   8.,   3.,   8.,   1.,   1.,
         8.,   2.,   8.,   3.,   8.,   8.,   8.,   8.,   3.,  40.,  40.,
        16.,  16.,   8.,   8.,   8.,   4.,   1.,   8.,  24.,   2.,   8.,
         1.,   8.,  16.,   3.,  16.,   2.,   3.,   1.,   1.,   1.,   1.,
        24.,   1.,   2.,   4.,  24.,   1.,   3.,   8.,   1.,   8.,  56.,
         8.,  24.,   8.,  16.,   3.,   0.,   8.,   2.,   1.,   8.,   8.,
         4.,   2.,   1.,  24.,   0.,   0.,   0.,   0.,   1.,  24.,   8.,
         8.,   8.,  24.,   4.,   8.,   8.,   4.,   8.,   8.,  16.,   1.,
        80.,   8.,   2.,   2.,   2.,  16.,   8.,   8.,   4.,   8.,   8.,
         2.,   8.,   8.,   3.,   8.,   8.,   8.,  32.,   8.,   0.,   8.,
         3.,   1.,   8.,   1.,   2.,   4.,   4.,   1.,   8.,   1.,   3.,
         2.,   1.,   1.,   8.,   8.,   8.,   8.,   3.,  24.,   0.,  16.,
         3.,   0.,   0.,   8.,  32.,   1.,   4.,   4.,   8.,   1.,   0.,
         3.,  40.,   8.,   8.,   4.,   8.,   8.,   0.,   0.,   8.,   3.,
         8.,   1.,  64.,   0.,  16.,   3.,   0.,   2.,   2.,   1.,   4.,
        16.,   1.,   8.,   0.,   0.,   0.,   5.,   5.,   1.,   8.,   2.,
         8.,   3.,   1.,   8., 120.,   8.,   0.,   1.,   3.,   2.,   3.,
         8.,   4.,   8.,   1.,   8.,   8.,   0.,   0.,   1.,   3.,   2.,
         1.,   3.,   1.,   4.,   8.,   1.,   1.,   1.,   8.,   2.,   1.,
         8.,   4.,   8.,   2.,   3.,   8.,   5.,  32.,   2.,   1.,   4.,
         8.,   8.,   8.,   4.,   1.,   1.,   2.,   3.,   1.,   3.,   3.,
         3.,   2.,   3.,   8.,   8.,   3.,   8.,   3.,   2.,   2.,  16.,
         3.,   3.,  24.,   3.,   3.,   8.,  16.,   2.,   4.,   2.,   8.,
         8.,   8.,  16.,   8.,   0.,   8.,   2.,   3.,   8.,   0.,   0.,
         0.,   8.,   8.,   8.,   2.,   4.,   3.,   4.,   4.,   4.,   8.,
         8.,   1., 120.,   8.,   4.,   4.,   2.,  16.,   2.,   8.,   3.,
         4.,   1.,   3.,   2.,   3.,   8.,   3.,   8.,   2.,   1.,   8.,
         3.,   3.,   3.,   2.,   4.,   4.,   0.,  40.,  24.,   3.,   4.,
         8.,   2.,   2.,   2.,   8.,   2.,   2.,   1.,   8.,   2.,   4.,
         8.,   8.,   8.,   8.,   4.,   8.,   8.,   1.,   2., 112.,   1.,
         1.,   8.,   8.,   8.,   2.,   1.,   2.,   4.,   1.,   4.,   4.,
         8.,   8.,   4.,   4.,   8.,  16.,   4.,   1.,   5.,   2.,   3.,
         1.,   1.,   3.,   2.,   2.,   8.,   1.,   4.,   1.,   2.,   8.,
         8.,   1.,   3.,   8.,   3.,   2.,   2.,   2.,   1.,   2.,   8.,
         3.,   4.,   8.,   3.,   1.,   1.,   8.,   1.,   8.,   3.,   8.,
         8.,   8.,   0.,   3.,   1.,   3.,  24.,   1.,   8.,   8.,   8.,
         4.,   8.,   2.,   2.,   3.,   1.,   8.,   8.,   2.,   0.,   0.,
         4.,   0.,   2.,   8.,   2.,  32.,   1.,   3.,   1.,   3.,   3.,
         4.,   2.,   8.,   8.,  16.,   2.,   3.,   2.,  80.,  24.,  16.,
         2.,   2.,   3.,   2.,   8.,   3.,   2.,   8.,   2.,   3.,   8.,
         3.,   2.,   8.,   3.,   8.,   2.,   3.,   2.,   2.,   2.,   2.,
         2.,   2.,   8.,   3.,   3.,   3.,   2.,   2.,   3.,   3.,   2.,
         2.,   8.,   2.,   5.,   3.,   2.,   2.,   2.,   2.,   2.,   2.,
         2.,   2.,   2.,   2.,   3.,   3., 112.,   2.,   2.,   3.,   2.,
         3.,   3.,   8.,   8.,   2.,   3.,   2.,   4.,   2.,   3.,   8.,
         2.,   8.,   2.,   2.,   3.,   3.,   2.,   3.,   3.,   8.,  24.,
         3.,   3.,   2., 104.,   8.,   8.,   8.,   8.,   8.,   8.,   2.,
        24.,   2.,   3.,   2.,   2.,   8.,   2.,   8.,   3.,   2.,   4.,
         8.,   2.,   2.,   8.,   3.,   2.,   3.,   8.,   1.,   2.,   8.,
        64.,   8.,   2.,   2.,   3.,   1.,   0.,   2.,   0.,   1.,  48.,
         8.,   8.,   8.,   3.,   8.,   2.,   2.,   2.,   8.,   2.,   8.,
         8.,   1.,   8.,   3.,   8.,   8.,   8.,  24.,   8.,   2.,   0.,
         0.,   3.,   2.,   2.,   3.,   3.,   8.,   2.,   3.,   3.,   4.,
         2.,   8.,   4., 120.,  16.,   2.,   8.,   8.,  80.,   8.,   4.,
         0.,   0.,   0.])